# Melacak file Jupyter Notebook dengan Git LFS
*.ipynb filter=lfs diff=lfs merge=lfs -text

# Melacak file Python dengan Git LFS
*.py filter=lfs diff=lfs merge=lfs -text
*.php filter=lfs diff=lfs merge=lfs -text

# Contoh menambahkan file lainnya
*.txt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text

# Jangan izinkan file gambar untuk dilacak oleh Git LFS
*.jpg -filter -diff -merge -text
*.png -filter -diff -merge -text
*.jpeg -filter -diff -merge -text
*.gif -filter -diff -merge -text
*.bmp -filter -diff -merge -text
*.webp -filter -diff -merge -text
*.h5 -filter -diff -merge -text
